body{
    background-color: white;
    margin: 0%;
    padding: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
    height: auto;

}

#viewGithub{
    background-color: #c0ebd7;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 20px;
    text-decoration: none;
}

#githubIcon{
    width: 32px;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
}

#webSiteName{   
    font-size: 200%;
    margin-left: 1%;
    padding: 0px;
    width: 500px;
}



nav{
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    margin: 0%;
    padding: 0%;
    height: auto;
    
}

nav ul{
    flex-direction: row;
    background-color: #ffffff;
    margin: 0%;
    height: 40px;
    padding-left: 3%;
    align-items: center;
}

nav ul li{
    
    transform: translateY(50%);
    text-align: center;
    display: inline-block;
    margin-left: 0%;
    margin-right: 5%;
    padding: 0%;
    list-style-type: none;
    color: #000000;
}

.navtitle{
    background-color: #ddd3df;
    padding: 10px 20px;
    border-radius: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: none;
}

.navtitle:hover{
    background-color: #555555;
    color: #ffffff;
}

section{
    background-color: white;
    height:auto;
}

footer{
    background-color: white;
    margin: 0%;
    padding: 0%;
    size: 5%;
    height: auto;
}

footer div{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 5%;
    text-align: left;
}




