@font-face {
    font-family: "EDIX";
    src: url(./resource/font/EDIX.ttf);
}

@font-face {
    font-family: "EDMorganite-BookIX";
    src: url(./resource/font/Morganite-Book.ttf);
}

@font-face {
    font-family: "HarmonyOS Sans Regular";
    src: url(./resource/font/HarmonyOS_Sans_Naskh_Arabic_Regular.ttf);
}

@font-face {
    font-family: "Noto Sans Mono CJK SC Regular";
    src: url(./resource/font/NotoSansMonoCJKsc-Regular.otf);
}

@font-face {
    font-family: "Noto Sans Mono CJK SC Bold";
    src: url(./resource/font/NotoSansMonoCJKsc-Bold.otf);
}

/*Max size*/

@media (min-width: 1400px) {
    .website_name {
        text-align: center;
        font-family: "EDIX", sans-serif;
        font-size: 92px;
        font-style: italic;
    }

    .slogan {
        font-family: "HarmonyOS Sans Regular", sans-serif, serif;
        font-size: 36px;
        margin-top: 10px;
        text-align: center;
    }
}

@media (max-width: 1400px) {
    .website_name {
        text-align: center;
        font-family: "EDIX", sans-serif;
        font-size: 88px;
        font-style: italic;
    }

    .slogan {
        font-family: "HarmonyOS Sans Regular", sans-serif, serif;
        font-size: 30px;
        margin-top: 10px;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .website_name {
        text-align: center;
        font-family: "EDIX", sans-serif;
        font-size: 64px;
        font-style: italic;
    }
}

@media (max-width: 768px) {
    .website_name {
        text-align: center;
        font-family: "EDIX", sans-serif;
        font-size: 40px;
        font-style: italic;
    }
}

@media (max-width: 640px) {
    .website_name {
        text-align: center;
        font-family: "EDIX", sans-serif;
        font-size: 32px;
        font-style: italic;
    }

    .slogan {
        font-family: "HarmonyOS Sans Regular", sans-serif, serif;
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
    }
}



/* Main body css set */
html {
    background-color: white;
}

body {
    margin: 0px;
}

/* Header css set：Header contained website name slogan scroll tip*/
header {
    align-items: center;

    background-image: url(./resource/img/indexPage/background.jpg);
    background-repeat: no-repeat;
    width: 100%;

    display: flex;

    flex-direction: column;

    height: 103vh;

    justify-content: center;

    margin: 0px;
    padding: 0px;
    position: relative;
}



.scroll_tip {
    bottom: 10vh;
    color: white;
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-weight: bold;
    font-size: 1vw;
    font-style: italic;
    position: absolute;
    text-align: center;
}

/* Navigater css set */
.page_nav_ul {
    align-items: center;
    /* border-top: #000000 solid 1px;
    border-bottom: #000000 solid 1px; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Times New Roman", Times, serif;
    height: auto;
    justify-content: center; /* ??? */
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
}

.page_nav_ul li {
    border-radius: 10px;
    list-style-type: none;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    text-align: center;
    width: auto;
}

.page_nav_ul li:hover {
    background-color: #dcdcdc;
}

.page_nav_ul li a {
    color: black;

    font-family: "EDIX";
    font-size: 1vw;
    text-decoration: none;
}

/* Section css set */

.sec_container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    min-height: 100vh;
    padding: 1%;
}

.sec_title {
    cursor: default;
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

/* Passage container css set */

.sec_pass_container {
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 10px 10px 40px #737678, -10px -10px 40px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    position: relative;
}

/* 博客文章图片 */
.sec_pass_img {
    border-radius: 16px;
    bottom: 8%;
    height: 84%;
    object-fit:cover;
    position: absolute;
    right: 2%;
    top: 8%;
    width: 36%;

}

/* 文章段落 */
.sec_pass {
    cursor: default;
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    height: auto;
    width: 55%;
}

/* 文章h1标题 */
.sec_pass h1{
    /* font-family: inherit; */
    font-size: 1.5vw;
    font-style: bold;
    line-height: 32px;
}

/* 文章 h2 标题 */
.sec_pass h2{
    font-family: inherit;
    font-size: 1.2vw;
    font-style: bold;
    line-height: 10px;
}

/* 文章 h3-7 标题 */
.sec_pass h3,.sec_pass h4,.sec_pass h5,.sec_pass h6,.sec_pass h7{
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-size: 1vw;
    font-style: bold;
    line-height: 10px;
}

/* 文章内列表框 */
.sec_pass ul{
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-size: 1vw;
    font-style: normal;
    line-height: 20px;
    padding-left: 0px;
}

/* 文章内列表项 */
.sec_pass ul li,.sec_pass_li{
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-size: 1vw;
    font-style: normal;
    line-height: 15px;
    text-decoration: none;
    list-style: none;

}

/* 文章内文字段落 */
.sec_pass p,.sec_pass_p{
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-size: 1vw;
    /* font-style: italic; */
    line-height: 15px;
    text-indent: 10px;
}

/* 文章内链接 */
.sec_pass_a{
    color: black;
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-size: 1vw;
    font-style: normal;
    line-height: 15px;
    text-decoration: none;
    text-indent: 10px;   
}

/* 文章内链接--悬浮 */
.sec_pass_a:hover{
    text-decoration: underline;
    
}

/* 文章内链接 */
.sec_pass_link {
    bottom: 5%;
    color: black;
    cursor: default;
    font-family: "Noto Sans Mono CJK SC Regular";
    font-style: normal;
    font-size: 16px;
    margin-top: 2%;
    text-align: right;
    text-decoration: none;
    width: 55%;
    /* border: black solid 3px; */
}

/* 文章内链接--悬浮 */
.sec_pass_link:hover {
    cursor: pointer;
    color: rgb(0, 108, 250);
    font-style: bold;
    /* text-decoration: underline 2px #000000; */
}

/* Footer css set */

footer {
    background-color: #f7f7f7;
    height: auto;
    text-align: center;
    text-decoration: none;
}

footer a {
    color: black;
    font-family: "Noto Sans Mono CJK SC Regular";
    font-size: 1.8vh;
    letter-spacing: 1px;
    text-decoration: none;
    word-spacing: 2px;
}

footer a:hover{
    color: rgba(0, 0, 0, 0.5);
    color: rgb(0, 108, 250);
    font-style: bold;
}
