@font-face {
    font-family: "EDIX";
    src: url(./resource/font/EDIX.ttf);
}

@font-face {
    font-family: "EDMorganite-BookIX";
    src: url(./resource/font/Morganite-Book.ttf);
}

@font-face {
    font-family: "HarmonyOS Sans Regular";
    src: url(./resource/font/HarmonyOS_Sans_Naskh_Arabic_Regular.ttf);
}

/* Main body css set */
html {
    background-color: white;
}

body {
    margin: 0px;
}

/* Header css set：Header contained website name slogan scroll tip*/
header {
    align-items: center;

    background-image: url(./resource/img/indexPage/background.jpg);
    background-repeat: no-repeat;
    width: 100%;

    display: flex;

    flex-direction: column;

    height: 103vh;

    justify-content: center;

    margin: 0px;
    padding: 0px;
    position: relative;
}

.website_name {
    text-align: center;
    font-family: "EDIX", sans-serif;
    font-size: 100px;
    font-style: italic;
}

.slogan {
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

.scroll_tip {
    bottom: 10vh;
    color: white;
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-weight: bold;
    font-size: 10px;
    font-style: italic;
    position: absolute;
    text-align: center;
}

/* Navigater css set */
.page_nav_ul {
    align-items: center;
    /* border-top: #000000 solid 1px;
    border-bottom: #000000 solid 1px; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Times New Roman", Times, serif;
    height: auto;
    justify-content: center; /* ??? */
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
}

.page_nav_ul li {
    border-radius: 10px;
    list-style-type: none;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    text-align: center;
    width: auto;
}

.page_nav_ul li:hover {
    background-color: #dcdcdc;
}

.page_nav_ul li a {
    color: black;

    font-family: "EDIX";
    font-size: 15px;
    text-decoration: none;
}

/* Section css set */

.sec_container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    min-height: 100vh;
    padding: 1%;
}

.sec_title {
    cursor: default;
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

/* Passage container css set */

.sec_pass_container {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 10px 10px 40px #737678, -10px -10px 40px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    position: relative;
}

.sec_pass_img {
    border-radius: 5px;
    bottom: 10%;
    height: 80%;
    object-fit:cover;
    position: absolute;
    right: 2%;
    top: 10%;
    width: 40%;

}

.sec_pass {
    cursor: default;
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    height: auto;
    width: 55%;
}
.sec_pass h1{
    font-family: inherit;
    font-size: 20px;
    font-style: bold;
    line-height: 10px;
}
.sec_pass h2{
    font-family: inherit;
    font-size: 15px;
    font-style: bold;
    line-height: 10px;
}

.sec_pass h3,.sec_pass h4,.sec_pass h5,.sec_pass h6,.sec_pass h7{
    font-family: inherit;
    font-size: 10px;
    font-style: bold;
    line-height: 10px;
}

.sec_pass ul{
    font-family: inherit;
    font-size: 10px;
    font-style: normal;
    line-height: 20px;
    padding-left: 5px;
}

.sec_pass ul li,.sec_pass_li{
    font-family: inherit;
    font-size: 8px;
    font-style: normal;
    line-height: 15px;
    text-decoration: none;
    list-style: none;

}

.sec_pass p,.sec_pass_p{
    font-family: inherit;
    font-size: 8px;
    font-style: italic;
    line-height: 15px;
    text-indent: 10px;
}

.sec_pass_a{
    color: black;
    font-family: inherit;
    font-size: 8px;
    font-style: italic;
    line-height: 15px;
    text-decoration: none;
    text-indent: 10px;   
}

.sec_pass_a:hover{
    text-decoration: underline;
}

.sec_pass_link {
    bottom: 5%;
    color: black;
    cursor: default;
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-style: italic;
    font-size: 10px;
    margin-top: 2%;
    text-align: right;
    text-decoration: none;
    width: 55%;
    /* border: black solid 3px; */
}

.sec_pass_link:hover {
    cursor: pointer;
    text-decoration: underline 2px #000000;
}

/* Footer css set */

footer {
    background-color: #f7f7f7;
    height: auto;
    text-align: center;
    text-decoration: none;
}

footer a {
    color: black;
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-size: 5px;
    text-decoration: none;
}
