        /**
* prism.js Github theme based on GitHub's theme.
* @author Sam Clarke
*/
code[class*="language-"],
pre[class*="language-"] {
    color: #333;
    background: none;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.4;

    -moz-tab-size: 8;
    -o-tab-size: 8;
    tab-size: 8;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 0.8em;
    overflow: auto;
    /* border: 1px solid #ddd; */
    border-radius: 3px;
    /* background: #fff; */
    background: #f5f5f5;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
    background: #f5f5f5;
}

.token.comment,
.token.blockquote {
    color: #969896;
}

.token.cdata {
    color: #183691;
}

.token.doctype,
.token.punctuation,
.token.variable,
.token.macro.property {
    color: #333;
}

.token.operator,
.token.important,
.token.keyword,
.token.rule,
.token.builtin {
    color: #a71d5d;
}

.token.string,
.token.url,
.token.regex,
.token.attr-value {
    color: #183691;
}

.token.property,
.token.number,
.token.boolean,
.token.entity,
.token.atrule,
.token.constant,
.token.symbol,
.token.command,
.token.code {
    color: #0086b3;
}

.token.tag,
.token.selector,
.token.prolog {
    color: #63a35c;
}

.token.function,
.token.namespace,
.token.pseudo-element,
.token.class,
.token.class-name,
.token.pseudo-class,
.token.id,
.token.url-reference .token.variable,
.token.attr-name {
    color: #795da3;
}

.token.entity {
    cursor: help;
}

.token.title,
.token.title .token.punctuation {
    font-weight: bold;
    color: #1d3e81;
}

.token.list {
    color: #ed6a43;
}

.token.inserted {
    background-color: #eaffea;
    color: #55a532;
}

.token.deleted {
    background-color: #ffecec;
    color: #bd2c00;
}

.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

/* JSON */
.language-json .token.property {
    color: #183691;
}

.language-markup .token.tag .token.punctuation {
    color: #333;
}

/* CSS */
code.language-css,
.language-css .token.function {
    color: #0086b3;
}

/* YAML */
.language-yaml .token.atrule {
    color: #63a35c;
}

code.language-yaml {
    color: #183691;
}

/* Ruby */
.language-ruby .token.function {
    color: #333;
}

/* Markdown */
.language-markdown .token.url {
    color: #795da3;
}

/* Makefile */
.language-makefile .token.symbol {
    color: #795da3;
}

.language-makefile .token.variable {
    color: #183691;
}

.language-makefile .token.builtin {
    color: #0086b3;
}

/* Bash */
.language-bash .token.keyword {
    color: #0086b3;
}

/* highlight */
pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}
pre[data-line] .line-highlight-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    display: block;
    width: 100%;
}

pre[data-line] .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    background: hsla(24, 20%, 50%, 0.08);
    background: linear-gradient(
        to right,
        hsla(24, 20%, 50%, 0.1) 70%,
        hsla(24, 20%, 50%, 0)
    );
    pointer-events: none;
    line-height: inherit;
    white-space: pre;
}

pre[data-line] .line-highlight:before,
pre[data-line] .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: 0.4em;
    left: 0.6em;
    min-width: 1em;
    padding: 0 0.5em;
    background-color: hsla(24, 20%, 50%, 0.4);
    color: hsl(24, 20%, 95%);
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: 0.3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
}

pre[data-line] .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: 0.4em;
}
html body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    overflow: initial;
    box-sizing: border-box;
    word-wrap: break-word;
}
html body > :first-child {
    margin-top: 0;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 16px;
    color: #000;
}
html body h1 {
    font-size: 2.25em;
    font-weight: 300;
    padding-bottom: 0.3em;
}
html body h2 {
    font-size: 1.75em;
    font-weight: 400;
    padding-bottom: 0.3em;
}
html body h3 {
    font-size: 1.5em;
    font-weight: 500;
}
html body h4 {
    font-size: 1.25em;
    font-weight: 600;
}
html body h5 {
    font-size: 1.1em;
    font-weight: 600;
}
html body h6 {
    font-size: 1em;
    font-weight: 600;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5 {
    font-weight: 600;
}
html body h5 {
    font-size: 1em;
}
html body h6 {
    color: #5c5c5c;
}
html body strong {
    color: #000;
}
html body del {
    color: #5c5c5c;
}
html body a:not([href]) {
    color: inherit;
    text-decoration: none;
}
html body a {
    color: #08c;
    text-decoration: none;
}
html body a:hover {
    color: #00a3f5;
    text-decoration: none;
}
html body img {
    max-width: 100%;
}
html body > p {
    margin-top: 0;
    margin-bottom: 16px;
    word-wrap: break-word;
}
html body > ul,
html body > ol {
    margin-bottom: 16px;
}
html body ul,
html body ol {
    padding-left: 2em;
}
html body ul.no-list,
html body ol.no-list {
    padding: 0;
    list-style-type: none;
}
html body ul ul,
html body ul ol,
html body ol ol,
html body ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
html body li {
    margin-bottom: 0;
}
html body li.task-list-item {
    list-style: none;
}
html body li > p {
    margin-top: 0;
    margin-bottom: 0;
}
html body .task-list-item-checkbox {
    margin: 0 0.2em 0.25em -1.8em;
    vertical-align: middle;
}
html body .task-list-item-checkbox:hover {
    cursor: pointer;
}
html body blockquote {
    margin: 16px 0;
    font-size: inherit;
    padding: 0 15px;
    color: #5c5c5c;
    background-color: #f0f0f0;
    border-left: 4px solid #d6d6d6;
}
html body blockquote > :first-child {
    margin-top: 0;
}
html body blockquote > :last-child {
    margin-bottom: 0;
}
html body hr {
    height: 4px;
    margin: 32px 0;
    background-color: #d6d6d6;
    border: 0 none;
}
html body table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}
html body table th {
    font-weight: bold;
    color: #000;
}
html body table td,
html body table th {
    border: 1px solid #d6d6d6;
    padding: 6px 13px;
}
html body dl {
    padding: 0;
}
html body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}
html body dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}
html body code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.85em !important;
    color: #000;
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 0.2em 0;
}
html body code::before,
html body code::after {
    letter-spacing: -0.2em;
    content: "\00a0";
}
html body pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.85em !important;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}
html body .highlight {
    margin-bottom: 16px;
}
html body .highlight pre,
html body pre {
    padding: 1em;
    overflow: auto;
    font-size: 0.85em !important;
    line-height: 1.45;
    border: #d6d6d6;
    border-radius: 3px;
}
html body .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}
html body pre code,
html body pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}
html body pre code:before,
html body pre tt:before,
html body pre code:after,
html body pre tt:after {
    content: normal;
}
html body p,
html body blockquote,
html body ul,
html body ol,
html body dl,
html body pre {
    margin-top: 0;
    margin-bottom: 16px;
}
html body kbd {
    color: #000;
    border: 1px solid #d6d6d6;
    border-bottom: 2px solid #c7c7c7;
    padding: 2px 4px;
    background-color: #f0f0f0;
    border-radius: 3px;
}
@media print {
    html body {
        background-color: #fff;
    }
    html body h1,
    html body h2,
    html body h3,
    html body h4,
    html body h5,
    html body h6 {
        color: #000;
        page-break-after: avoid;
    }
    html body blockquote {
        color: #5c5c5c;
    }
    html body pre {
        page-break-inside: avoid;
    }
    html body table {
        display: table;
    }
    html body img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
    html body pre,
    html body code {
        word-wrap: break-word;
        white-space: pre;
    }
}
.markdown-preview {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.markdown-preview .pagebreak,
.markdown-preview .newpage {
    page-break-before: always;
}
.markdown-preview pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}
.markdown-preview pre.line-numbers > code {
    position: relative;
}
.markdown-preview pre.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 1em;
    font-size: 100%;
    left: 0;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.markdown-preview pre.line-numbers .line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}
.markdown-preview pre.line-numbers .line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}
.markdown-preview .mathjax-exps .MathJax_Display {
    text-align: center !important;
}
.markdown-preview:not([for="preview"]) .code-chunk .btn-group {
    display: none;
}
.markdown-preview:not([for="preview"]) .code-chunk .status {
    display: none;
}
.markdown-preview:not([for="preview"]) .code-chunk .output-div {
    margin-bottom: 16px;
}
.scrollbar-style::-webkit-scrollbar {
    width: 8px;
}
.scrollbar-style::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
.scrollbar-style::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(150, 150, 150, 0.66);
    border: 4px solid rgba(150, 150, 150, 0.66);
    background-clip: content-box;
}
html body[for="html-export"]:not([data-presentation-mode]) {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
}
html body[for="html-export"]:not([data-presentation-mode]) .markdown-preview {
    position: relative;
    top: 0;
}
@media screen and (min-width: 914px) {
    html body[for="html-export"]:not([data-presentation-mode]) .markdown-preview {
        padding: 2em calc(50% - 457px + 2em);
    }
}
@media screen and (max-width: 914px) {
    html body[for="html-export"]:not([data-presentation-mode]) .markdown-preview {
        padding: 2em;
    }
}
@media screen and (max-width: 450px) {
    html body[for="html-export"]:not([data-presentation-mode]) .markdown-preview {
        font-size: 14px !important;
        padding: 1em;
    }
}
@media print {
    html body[for="html-export"]:not([data-presentation-mode]) #sidebar-toc-btn {
        display: none;
    }
}
html body[for="html-export"]:not([data-presentation-mode]) #sidebar-toc-btn {
    position: fixed;
    bottom: 8px;
    left: 8px;
    font-size: 28px;
    cursor: pointer;
    color: inherit;
    z-index: 99;
    width: 32px;
    text-align: center;
    opacity: 0.4;
}
html
    body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc]
    #sidebar-toc-btn {
    opacity: 1;
}
html
    body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc]
    .md-sidebar-toc {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 32px 0 48px 0;
    font-size: 14px;
    box-shadow: 0 0 4px rgba(150, 150, 150, 0.33);
    box-sizing: border-box;
    overflow: auto;
    background-color: inherit;
}
html
    body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc]
    .md-sidebar-toc::-webkit-scrollbar {
    width: 8px;
}
html
    body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc]
    .md-sidebar-toc::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}
html
    body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc]
    .md-sidebar-toc::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(150, 150, 150, 0.66);
    border: 4px solid rgba(150, 150, 150, 0.66);
    background-clip: content-box;
}
html
    body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc]
    .md-sidebar-toc
    a {
    text-decoration: none;
}
html
    body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc]
    .md-sidebar-toc
    ul {
    padding: 0 1.6em;
    margin-top: 0.8em;
}
html
    body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc]
    .md-sidebar-toc
    li {
    margin-bottom: 0.8em;
}
html
    body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc]
    .md-sidebar-toc
    ul {
    list-style-type: none;
}
html
    body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc]
    .markdown-preview {
    left: 300px;
    width: calc(100% - 300px);
    padding: 2em calc(50% - 457px - 150px);
    margin: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 1274px) {
    html
        body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc]
        .markdown-preview {
        padding: 2em;
    }
}
@media screen and (max-width: 450px) {
    html
        body[for="html-export"]:not([data-presentation-mode])[html-show-sidebar-toc]
        .markdown-preview {
        width: 100%;
    }
}
html
    body[for="html-export"]:not([data-presentation-mode]):not([html-show-sidebar-toc])
    .markdown-preview {
    left: 50%;
    transform: translateX(-50%);
}
html
    body[for="html-export"]:not([data-presentation-mode]):not([html-show-sidebar-toc])
    .md-sidebar-toc {
    display: none;
}
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

@font-face {
    font-family: "EDIX";
    src: url(../resource/font/EDIX.ttf);
}
@font-face {
    font-family: "EDMorganite-BookIX";
    src: url(../resource/font/Morganite-Book.ttf);
}

@font-face {
    font-family: "HarmonyOS_Sans_Regular";
    src: url(../resource/font/HarmonyOS_Sans_Naskh_Arabic_Regular.ttf);
}

/* Main body css set */
html {
    background-color: white;
}

/* Header css set：Header contained website name slogan scroll tip*/
header {
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);

    margin: 0px;

    padding: 0px;
}

.page_header_con {
    align-items: center;

    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #155996 0%, #158b64 74%);

    display: flex;

    flex-direction: column;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    justify-content: center;

    height: 45vh;

    position: relative;

    width: 100%;
}

.page_header_main_title {
    color: #ffffff;

    font-size: 40px;
    font-weight: bold;

    margin: 0px;
}

.page_header_sub_title {
    color: rgba(255, 255, 255, 0.7);

    font-size: 18px;

    margin: 0px;
    margin-top: 10px;
}

.page_header_btn_con {
    display: flex;

    flex-direction: row;

    justify-content: center;

    margin-top: 20px;
}

.page_header_btn {
    color: rgba(255, 255, 255, 0.7);

    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;

    display: inline-block;

    font-size: 15px;
    font-weight: bold;

    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

    width: 150px;
}

.page_header_btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

/* Body css set */
body {
    font-family: "Open Sans", "HarmonyOS_Sans_Regular", Helvetica, Arial, sans-serif;
    margin: 0px 0px;
}

/* Passage nav css set */
.art_nav_con {
    display: flex;

    flex-direction: column;

    justify-content: center;

    width: 100%;

    /* background-color: red; */
}

.art_nav_title {
    font-family: inherit;
    font-size: 35px;
    font-weight: bold;

    margin: 0px;

    padding-top: 10px;
    padding-left: 20px;
    /* background-color: lavender; */
}

.art_nav_con ul {
    margin: 0px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    /* background-color: khaki; */
}

.art_nav_con ul li {
    list-style: none;
    margin-left: 0px;
}

.nav_link_item {
    color: black;

    font-family: inherit;
    font-size: 20px;
    padding-left: 5%;

    text-decoration: none;
}

.nav_link_item_1 {
    color: black;
    font-family: inherit;
    font-size: 20px;
    padding-left: 5%;
    text-decoration: none;
}

.nav_link_item_2 {
    color: black;

    font-family: inherit;
    font-size: 20px;

    padding-left: 7%;

    text-decoration: none;
}

.nav_link_item_3 {
    color: black;

    font-family: inherit;
    font-size: 20px;

    padding-left: 10%;

    text-decoration: none;
}

.nav_link_item:hover,
.nav_link_item:visited,
.nav_link_item_1:hover,
.nav_link_item_1:visited,
.nav_link_item_2:hover,
.nav_link_item_2:visited,
.nav_link_item_3:hover,
.nav_link_item_3:visited {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: underline rgba(0, 0, 0, 0.7) 2px;
}

/* Passage container css set */
.article_con {
    font-family: inherit;
}

.divi_line {
    border-bottom: #dfdedcb4 solid 2px;
    line-height: 2px;
    width: 80%;
    margin-left: 10%;
}

.h1 {
    color: rgba(0, 0, 0, 1);

    font-family: inherit;
    font-size: 35px;
    font-weight: bold;

    margin: 0px;
    margin-left: 2%;
    margin-top: 10px;
}

.h2 {
    color: rgba(0, 0, 0, 0.7);

    font-family: inherit;
    font-size: 20px;
    font-weight: bold;

    margin: 0px;
    margin-left: 2%;
    margin-top: 5px;
}

.h3 {
    color: rgba(0, 0, 0, 0.5);

    font-family: inherit;
    font-size: 20px;
    font-weight: normal;

    margin: 0px;
    margin-left: 2%;
    margin-top: 5px;
}

.quote {
    background-color: #fafbfc;
    border-left: #e8e8e6 solid 5px;

    color: rgba(0, 0, 0, 1);

    font-family: inherit;
    font-size: 20px;
    font-weight: normal;

    margin: 0px;
    margin-left: 5%;

    padding: 5px 5px;

    width: 100%;
}

.link {
    color: #4169e1;

    font-style: italic;

    margin: 0px;
    margin-left: 5%;

    text-decoration: none;
}

.note {
    font-family: inherit;
    font-size: 8px;
    font-weight: lighter;
    font-style: italic;

    margin: 0px;

    text-align: center;

    width: 100%;
}

.para,
.article_con p {
    font-family: inherit;
    font-size: 20px;

    margin-top: 2%;

    margin: 0px;
    margin-left: 5%;

    text-indent: 20px;
}

.para::first-letter {
    font-size: 35px;
    font-weight: bold;

    text-transform: Capitalize;
}

.img_con {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 5%;
    padding: 0px 0px;
    width: 90%;
}

.img_con .img {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 45%;
    object-fit: cover;
    justify-content: center;
}

.img {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 95%;
    object-fit: cover;
    justify-content: center;
}

/* Footer css set */
footer {
    background-color: #f7f7f7;
    height: auto;
    text-align: center;
    text-decoration: none;
}

footer a {
    color: black;
    font-family: "HarmonyOS Sans Regular", sans-serif, serif;
    font-size: 10px;
    text-decoration: none;
}

footer a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline rgba(0, 0, 0, 0.5) 2px;
}